@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href=@Url.Action("AddJob","Home")>添加trigger</a>
<a href=@Url.Action("RemoveJob", "Home")>删除trigger</a>
<a href=@Url.Action("ModifyJob", "Home")>修改trigger</a>
<a href=@Url.Action("CommonAPI", "Home")>统一接口</a>
